.508_394 { 
	overflow:hidden;
}.e508_394 { 
	width:1440px;
	height:779px;
	position:absolute;
}.e1_3 { 
	background-color:rgba(12.000000234693289, 12.000000234693289, 196.00000351667404, 0.949999988079071);
	width:1440px;
	height:779px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_4 { 
	background-color:rgba(255, 255, 255, 1);
	width:186px;
	height:49px;
	position:absolute;
	left:628px;
	top:656px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.e1_5 { 
	color:rgba(0, 0, 0, 1);
	width:38px;
	height:19px;
	position:absolute;
	left:74px;
	top:15px;
	font-family:Avenir;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e1_6 { 
	width:334px;
	height:45px;
	position:absolute;
	left:649px;
	top:315px;
}.e1_7 { 
	width:157px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_8 { 
	background-color:rgba(14.002841413021088, 14.002841413021088, 159.45044875144958, 1);
	width:157px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.1_8 { 
	border:1px solid rgba(73.39395850896835, 73.39395850896835, 255, 1);
}.e1_9 { 
	color:rgba(255, 255, 255, 1);
	width:81px;
	height:19px;
	position:absolute;
	left:52px;
	top:13px;
	font-family:Avenir;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.1_10 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e1_10 { 
	width:17px;
	height:17px;
	position:absolute;
	left:21px;
	top:14px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}.e1_11 { 
	width:162px;
	height:45px;
	position:absolute;
	left:172px;
	top:0px;
}.e1_12 { 
	background-color:rgba(14.002841413021088, 14.002841413021088, 159.45044875144958, 1);
	width:162px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.1_12 { 
	border:1px solid rgba(73.39395850896835, 73.39395850896835, 255, 1);
}.e1_13 { 
	color:rgba(255, 255, 255, 1);
	width:85px;
	height:19px;
	position:absolute;
	left:55px;
	top:13px;
	font-family:Avenir;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.1_14 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e1_14 { 
	width:17px;
	height:17px;
	position:absolute;
	left:23px;
	top:14px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}.e1_15 { 
	width:103px;
	height:45px;
	position:absolute;
	left:763px;
	top:380px;
}.e1_16 { 
	width:103px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_17 { 
	background-color:rgba(14.002841413021088, 14.002841413021088, 159.45044875144958, 1);
	width:103px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.1_17 { 
	border:1px solid rgba(73.39395850896835, 73.39395850896835, 255, 1);
}.e1_18 { 
	color:rgba(255, 255, 255, 1);
	width:26px;
	height:19px;
	position:absolute;
	left:52px;
	top:13px;
	font-family:Avenir;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.1_19 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e1_19 { 
	width:17px;
	height:17px;
	position:absolute;
	left:21px;
	top:14px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}.e1_20 { 
	width:103px;
	height:45px;
	position:absolute;
	left:880px;
	top:380px;
}.e1_21 { 
	width:103px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_22 { 
	background-color:rgba(14.002841413021088, 14.002841413021088, 159.45044875144958, 1);
	width:103px;
	height:45px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.1_22 { 
	border:1px solid rgba(73.39395850896835, 73.39395850896835, 255, 1);
}.e1_23 { 
	color:rgba(255, 255, 255, 1);
	width:23px;
	height:19px;
	position:absolute;
	left:52px;
	top:13px;
	font-family:Avenir;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.1_24 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e1_24 { 
	width:17px;
	height:17px;
	position:absolute;
	left:21px;
	top:14px;
	border-top-left-radius:13px;
	border-top-right-radius:13px;
	border-bottom-left-radius:13px;
	border-bottom-right-radius:13px;
}.e1_25 { 
	color:rgba(255, 255, 255, 0.8999999761581421);
	opacity:0.8500000238418579;
	width:111px;
	height:22px;
	position:absolute;
	left:460px;
	top:327px;
	font-family:Avenir;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e1_26 { 
	color:rgba(255, 255, 255, 0.8999999761581421);
	opacity:0.8500000238418579;
	width:215px;
	height:22px;
	position:absolute;
	left:460px;
	top:392px;
	font-family:Avenir;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e1_27 { 
	width:527px;
	height:73px;
	position:absolute;
	left:457px;
	top:217px;
}.e1_28 { 
	background-color:rgba(12.000000234693289, 12.000000234693289, 196.00000351667404, 0.800000011920929);
	width:527px;
	height:48px;
	position:absolute;
	left:0px;
	top:25px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.1_28 { 
	border:1px solid rgba(73.39395850896835, 73.39395850896835, 255, 1);
}.e1_29 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.44999998807907104;
	width:105px;
	height:19px;
	position:absolute;
	left:24px;
	top:40px;
	font-family:Avenir;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e1_30 { 
	color:rgba(255, 255, 255, 0.8999999761581421);
	opacity:0.8500000238418579;
	width:62px;
	height:19px;
	position:absolute;
	left:3px;
	top:0px;
	font-family:Avenir;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e1_31 { 
	width:527px;
	height:73px;
	position:absolute;
	left:457px;
	top:445px;
}.e1_32 { 
	background-color:rgba(12.000000234693289, 12.000000234693289, 196.00000351667404, 0.800000011920929);
	width:527px;
	height:48px;
	position:absolute;
	left:0px;
	top:25px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.1_32 { 
	border:1px solid rgba(73.39395850896835, 73.39395850896835, 255, 1);
}.e1_33 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.44999998807907104;
	width:25px;
	height:19px;
	position:absolute;
	left:24px;
	top:40px;
	font-family:Avenir;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e1_34 { 
	color:rgba(255, 255, 255, 0.8999999761581421);
	opacity:0.8500000238418579;
	width:60px;
	height:19px;
	position:absolute;
	left:3px;
	top:0px;
	font-family:Avenir;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e1_35 { 
	width:527px;
	height:73px;
	position:absolute;
	left:457px;
	top:540px;
}.e1_36 { 
	background-color:rgba(12.000000234693289, 12.000000234693289, 196.00000351667404, 0.800000011920929);
	width:527px;
	height:48px;
	position:absolute;
	left:0px;
	top:25px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.1_36 { 
	border:1px solid rgba(73.39395850896835, 73.39395850896835, 255, 1);
}.e1_37 { 
	color:rgba(255, 255, 255, 1);
	opacity:0.44999998807907104;
	width:88px;
	height:19px;
	position:absolute;
	left:24px;
	top:40px;
	font-family:Avenir;
	text-align:left;
	font-size:14px;
	letter-spacing:0;
}.e1_38 { 
	color:rgba(255, 255, 255, 0.8999999761581421);
	opacity:0.8500000238418579;
	width:49px;
	height:19px;
	position:absolute;
	left:3px;
	top:0px;
	font-family:Avenir;
	text-align:left;
	font-size:13px;
	letter-spacing:0;
}.e1_39 { 
	width:823px;
	height:68px;
	position:absolute;
	left:292px;
	top:118px;
}.e1_40 { 
	color:rgba(255, 255, 255, 0.8999999761581421);
	width:119px;
	height:22px;
	position:absolute;
	left:0px;
	top:46px;
	font-family:Avenir;
	text-align:center;
	font-size:15px;
	letter-spacing:0;
}.e1_41 { 
	color:rgba(255, 255, 255, 0.8999999761581421);
	opacity:0.44999998807907104;
	width:113px;
	height:22px;
	position:absolute;
	left:200px;
	top:46px;
	font-family:Avenir;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e1_42 { 
	color:rgba(255, 255, 255, 0.8999999761581421);
	opacity:0.44999998807907104;
	width:69px;
	height:22px;
	position:absolute;
	left:415px;
	top:46px;
	font-family:Avenir;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e1_43 { 
	color:rgba(255, 255, 255, 0.8999999761581421);
	opacity:0.44999998807907104;
	width:85px;
	height:22px;
	position:absolute;
	left:586px;
	top:46px;
	font-family:Avenir;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e1_44 { 
	color:rgba(255, 255, 255, 0.8999999761581421);
	opacity:0.44999998807907104;
	width:50px;
	height:22px;
	position:absolute;
	left:773px;
	top:46px;
	font-family:Avenir;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e1_45 { 
	transform: rotate(0.000005008956130975318deg);
	width:713px;
	height:0px;
	position:absolute;
	left:67px;
	top:13px;
}.1_45 { 
	border:4px solid rgba(182.82545685768127, 182.82545685768127, 182.82545685768127, 1);
}.e1_46 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius:500px;
	background-color:rgba(249.00000035762787, 185.00000417232513, 25.000000409781933, 1);
	width:19px;
	height:19px;
	position:absolute;
	left:59px;
	top:3px;
}.1_47 { 
	border:2px solid rgba(255, 255, 255, 1);
}.e1_47 { 
	width:23.5625px;
	height:26px;
	position:absolute;
	left:790px;
	top:0px;
}.e1_48 { 
	color:rgba(255, 255, 255, 0.8999999761581421);
	opacity:0.44999998807907104;
	width:39px;
	height:22px;
	position:absolute;
	left:1313px;
	top:43px;
	font-family:Avenir;
	text-align:left;
	font-size:15px;
	letter-spacing:0;
}.e1_49 { 
	color:rgba(255, 255, 255, 1);
	width:282px;
	height:34px;
	position:absolute;
	left:582px;
	top:53px;
	font-family:Avenir;
	text-align:center;
	font-size:30px;
	letter-spacing:0;
}.e1_50 { 
	transform: rotate(180deg);
	width:85.36518096923828px;
	height:85.36514282226562px;
	position:absolute;
	left:231.36517333984375px;
	top:440px;
}.e1_51 { 
	transform: rotate(180deg);
	background-color:rgba(69.00000348687172, 255, 250.00000029802322, 1);
	width:85.36518096923828px;
	height:85.36514282226562px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_52 { 
	transform: rotate(180deg);
	width:38px;
	height:38px;
	position:absolute;
	left:1338px;
	top:215px;
}.e1_53 { 
	transform: rotate(180deg);
	background-color:rgba(255, 167.00000524520874, 11.000000294297934, 1);
	width:38px;
	height:38px;
	position:absolute;
	left:0px;
	top:0px;
}